<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-6 mb-5">
            {{bar-chart data=attendanceCostData options=attendanceCostOptions}}
        </div>
        <div class="col-sm-12 col-md-6 mb-5">
            {{bar-chart data=acceptanceRateData options=acceptanceRateOptions}}
        </div>
    </div>
</div>
