/* --- BOOTSTRAP CUSTOM VARIABLES --- */
@import "_variables";

/* --- BOOTSTRAP CORE (ALL) --- */
@import "node_modules/bootstrap/scss/bootstrap";

/* --- CUSTOM STYLES --- */
@import "header";
@import "nav";
@import "footer";


html {
  font-size: 12px;
}

.full-size {
    min-height: calc(100vh - 50px);
}

.border-bottom {
    padding-bottom: 8px;
    border-bottom: 1px solid rgba(0,0,0,.15);
}

a:hover {
    text-decoration: none;
}

.google-chart {
  width: 100%;
  min-height: 300px;
}

#search-box {
    position: relative;
    z-index: 2001;
}

#search-close {
    position: absolute;
    opacity: .4;
    cursor: pointer;
}

#search-close:hover {
    opacity: 1;
    z-index: 2002;
}

@include media-breakpoint-down(sm) {
    html {
      font-size: 12px;
    }
    #container {
        padding-top: 50px;
    }
    #logo-img {
        width: 120px;
    }
    #search-close {
        top: 10px;
        right: 10px;
        font-size: 18px;
    }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 14px;
  }
  #container {
      padding-top: 60px;
  }
  #search-close {
      top: 10px;
      right: 10px;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 16px;
  }
  #container {
      padding-top: 64px;
  }
  #search-close {
      top: 13px;
      right: 13px;
  }
}
