<div class="container full-size">
    <div class="content my-4">

        {{#search-schools filter=(action 'filterByName') as |schools|}}

            {{#if updateSchoolList.isRunning}}
                <span class="mx-1">Loading Schools...</span>
            {{else}}
                {{#if schools}}
                    <table class="table table-striped results">
                        <tbody>
                            {{#each schools as |school|}}
                                <tr>
                                    <td>{{#link-to 'app.school' school}}{{school.attrs.school.name}}{{/link-to}}</td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                {{else}}
                    <span class="mx-1">Sorry, no schools could be found using that name.</span>
                {{/if}}
            {{/if}}

        {{/search-schools}}

    </div>
</div>
