<div class="container full-size">
    <div class="content my-4">

        {{#search-schools filter=(action 'filterByName') as |schools|}}

        {{#if updateSchoolList.isRunning}}

            <span>Loading Schools..</span>

        {{else}}
              <table class="table table-striped results">
                  <tbody>
                    {{#each schools as |school|}}
                      <tr>
                          <td>{{#link-to 'app.school' school}}{{school.attrs.school.name}}{{/link-to}}</td>
                      </tr>
                    {{/each}}
                 </tbody>
            </table>
        {{/if}}
        {{/search-schools}}

    </div>
</div>
