<div class="container full-size">
    <div class="content my-5">

        {{#search-schools filter=(action 'filterByName') as |schools|}}
          <table class="table table-stripped results">
            {{#each schools as |school|}}
              <tr>
                  <td>{{school.attrs.school.name}}</td>
              </tr>
            {{/each}}
        </table>
        {{/search-schools}}

    </div>
</div>
