<div class="navbar navbar-dark bg-primary fixed-top">
    <div class="container d-flex justify-content-between">
        {{#link-to 'index' class="navbar-brand"}}
            <img id="logo-img" src="/assets/images/logo.png" alt="UniStats">
        {{/link-to}}
        <ul class="nav">
            <li class="nav-item">
                {{#link-to 'index' class="nav-link"}}About{{/link-to}}
            </li>
            <li class="nav-item">
                {{#link-to 'app' class="nav-link"}}App{{/link-to}}
            </li>
        </ul>
    </div>
</div>

<div id="container">
    {{outlet}}
</div>

<footer class="text-muted bg-light py-3">
  <div class="container clearfix">
      <div class="float-left mt-1">
          Copyright © {{moment-format (now) 'YYYY'}}  Chance Brilz
      </div>
      <div class="float-right">
          <a href="//github.com/chancebrilz/uni-stats" target="_blank" class="icon-link" title="Contribute to this project on Github.">
              <img src="/assets/images/github-mark.png" alt="Github">
          </a>
      </div>
  </div>
</footer>
