

<section class="jumbotron text-center row full-size h-100">
  <div class="container my-auto">
    <h1 class="jumbotron-heading mb-3">Visualizing College Scorecard Data Made Easy</h1>
    <div class="row justify-content-center mb-1">
        <p class="lead text-muted col-xl-7 col-md-10 col-sm-12">
            The College Scorecard project is designed to increase transparency, putting the power in the hands of
            students and families to compare how well individual postsecondary institutions are preparing their
            students to be successful.<br>
            <p class="font-italic small mt-2">&ndash; Data Documentation for College Scorecard</p>
        </p>
    </div>
    <p>{{#link-to 'app' class="btn btn-outline-primary btn-lg"}}Launch App{{/link-to}}</p>
  </div>
</section>
